:root{
    --bgHeader:#232930;
    --bgFooter:#232930;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;

}

