.student-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.student-item .student{
    width: 80%;
    text-align: left;

   
}
.student{
    /* color: green; */
}
.student.active{
    opacity: 0.5;
    text-decoration: line-through;
}
.add{
    display: flex;
    justify-content: space-between;
}
.add input{
    width: 90%;
  
}
.filter {
   display: flex;
    justify-content: space-between;
}